@font-face {
    font-family: "jaapokki-enchance";
    src: url("Jaapokkienchance-Regular.otf") format("opentype");
}
#menu-de-hamburguer-img {
    position: fixed;
    max-width: 3%;
    display: block;
    height: auto;
    margin: 1vw;
    top: 0px;
    right: 0px;
}
#menu-de-hamburguer-img:active {
    background: #000000;
}
#menu-de-hamburguer-opcoes {
    width: 0px;
    border-left: 50vw solid #00000000;
	border-right: 0vh solid #00000000;
    border-top: 70vh solid #FFBF00;

    position: fixed;
    display: block;
    top: 0vh;
    right: 0vw;
}
#main {
    position: relative;
    top: 15vh;
    left: 2vw;
}
.principal {
    text-transform: capitalize;
    font-size: 5vw;
    font-family: "jaapokki-enchance";
    color: #FFFFFF;
}
.css-redesSociais {
    max-width: 3%;
    display: block;
    height: auto;
    margin: 1vw;
    float: left;
}
.linguagens {
    font-size: 2vw;
    font-family: "jaapokki-enchance";
    color: #FFFFFF;
}
body {
    background: #1F1E1C;
}