.css-redesSociais {
    max-width: 3%;
    display: block;
    height: auto;
    margin: 1vw;
    float: left;
}
#menu-de-hamburguer-img {
    position: fixed;
    max-width: 3%;
    display: block;
    height: auto;
    margin: 1vw;
    top: 0px;
    right: 0px;
}
#barra-de-navegacao {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 7vh;
    width: 7vh;
}
body {
    background: #1F1E1C;
}